CLOUDFLARE_TUNNEL_TOKEN=paste_cloudflare_tunnel_token_here

MYSQL_ROOT_PASSWORD=paste_root_password_here
MYSQL_DATABASE=pbl6_lungxray
MYSQL_USER=root_user
MYSQL_PASSWORD=paste_user_password_here

DATABASE_URL=mysql+pymysql://root_user:paste_user_password_here@db:3306/pbl6_lungxray

JWT_SECRET=paste_random_secret_string_here